/(*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
/*CSS FOR BODY ADDDED*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0a3c2f;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #0d614b;
    padding: 40px 60px;
}
/*item flip*/
h2{
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    color: #267c65;
    background: grey;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
/*CSS FOR RESET BUTTON*/
.reset:focus{
    color: white;
    background: #267c65;
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: white;
    transition: 0.25s;
    transform: rotateY(180deg);
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #209d7b;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen::after , .boxMatch::after{
    transform: rotateY(180deg);
}
